@{
    ViewBag.Title = "about";
    bool isMatt = User.Identity.IsAuthenticated && User.Identity.Name == "mattR";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<input type="hidden" value="@isMatt" id="isMatt" />
<article>
    <div contenteditable="inherit">
        <h3>where i'm at now...</h3>
        <p>
            Since Thanksgiving of 2011, I have been employed at eComSystems, Inc. in Sarasota, FL. Working as part of a
            collaborative team
        </p>
    </div>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>

@section scripts{
    <script type="text/javascript">
        $(function () {
            var isMatt = @Html.Raw(Json.Encode(@isMatt));
            if(isMatt == true){
                $("article").attr("contenteditable", true);
            }

        });
    </script>
}