@{
    ViewBag.Title = "home page";
}
@section featured {
        <div>
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    <div>
        <a href="~/Home/Marshooter/"><h1>eli's sweet taters</h1><h2></h2></a>
    </div>
}
<h3></h3>
<ol class="round">
    <li class="one">
        <h5>about me</h5>
        <p>Basic info about where I've been, and what I've been doing the past few years.</p>
        @Html.ActionLink("read more", "About", "Home")
    </li>

    <li class="two">
        <h5>this is cool...</h5>
        <p>A small collection of technology that interests me...</p>
        @Html.ActionLink("view blog", "Index", "Blog")
    </li>

    <li class="three">
        <h5>my hobbies and interests</h5>
        <p>What makes me tick, and what I like to do when there's nothing to do...</p>
        @Html.ActionLink("read more", "Hobbies", "Home")
    </li>
</ol>


@section scripts
{
    <script type="text/javascript">

    </script>
}
