@model WebSite.Models.BlogPost

@{
    ViewBag.Title = "New Post";
}
@section header{
<link href="~/Content/colorpicker.css" rel="stylesheet" />
}
<h2>NewPost</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BlogPost</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

       
        <div id="toolbar"></div>
        <div id="messageBox">
            <div id="editable" style="min-height: 125px; height: auto;"></div>
        </div>
        @Html.HiddenFor(m => m.Message)
        @Html.HiddenFor(m => m.CreatedByID)
        @Html.HiddenFor(m => m.CreatedDate)
        @Html.HiddenFor(m => m.ModifiedByID)
        @Html.HiddenFor(m => m.ModifiedDate)


        <p>
            <input type="button" id="createBtn" value="create" />
            <input type="submit" value="Create" id="submit" hidden="hidden" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @*<script src="~/Scripts/editor.js"></script>*@
    @*<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>*@
    <script src="~/Scripts/nicEdit.js"></script>
    <script src="~/Scripts/colorpicker/colorpicker.js"></script>
    <script type="text/javascript">
        bkLib.onDomLoaded(function () {
            var editor = new nicEditor({ fulleditor: true });
            editor.setPanel("toolbar");
            editor.addInstance("editable");
            var colors = editor.loadedPlugins;

            window.editor = editor;
        });

        $(function () {
            $("#messageBox").resizable({
                minWidth: 350,
                minHeight: 125
            }).css("min-height", "125px").css("background-color", "#fff");

            $("#createBtn").click(function () {
                $("#Message").val($("#editableContent").html());
                $("#submit").trigger("click");
            });
        });
    </script>
}
