@model WebSite.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
    <hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<div id="loginFormContainer">

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2>Use a local account to log in.</h2>

    <fieldset style="width: 375px;">

        <legend>Log in Form</legend>
        <ul style="list-style: none; padding: 15px 5px;">
            <li style="display: inline-block;width: 100%;">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li style="display: inline-block;width: 100%;">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li style="width: 100%;">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ul>
        <div class="buttons">
        <input type="submit" value="Log in" />
            </div>
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>

<section class="social" id="socialLoginForm">
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
