@model WebSite.Models.RegisterModel
@{
    ViewBag.Title = "register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset style="width: 375px;">
        <legend>registration form</legend>
        <ul style="list-style: none; padding: 10px 5px">
            <li style=" display: inline-block; width: 100%; ">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li style=" display: inline-block; width: 100%; ">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li style=" display: inline-block; width: 100%; ">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ul>
        <div class="buttons">
        <input type="submit" value="Register" />
            </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
